@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*
font-family: "Lato", sans-serif;
font-family: "Do Hyeon", sans-serif;
*/

:root{
    --rosinha: #FF577F;
    --branco: #F6F6F6;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;  
}

header{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 3.18rem;
    
}

.link_header{
    font-family: "Do Hyeon", sans-serif;
    font-size: 150%;
    text-decoration: none;
    color: var(--rosinha);
}

body{
    background-color: rgba(0, 0, 0, 0.836);
    box-sizing: border-box;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
}

.apresentacao{
    padding: 5% 15%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_section{
    width: 38.43rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-right: 13rem;
}

.primeiro_nome{
    font-family: "Do Hyeon", sans-serif;
    font-size: 2.25rem;
    color: var(--branco);
}

.segundo_nome{
    font-family: "Do Hyeon", sans-serif;
    font-size: 2.25rem;
    color: var(--rosinha)
}

.paragrafo_sobre_mim{
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    color: var(--branco);
}

.rede_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.apresentacao_redes{
    display: flex;
    font-family: "Do Hyeon", sans-serif;
    font-size: 1.5rem;
    color: var(--branco);
    justify-content: center;
}

.rede_social_bt{
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid var(--rosinha);
    width: 23.62rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.grupo_foto{
    border: 2px solid var(--rosinha);
    border-radius: 1rem;
    width: 60vw;
}

.foto_portfolio{
    border-radius: 1rem;
    width: 100%;
    margin-left: -0.8rem;
    margin-bottom: -1.5rem;
    margin-top: 0.8rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-top: 0.5px solid var(--rosinha);
    padding: 1.5rem;
}

.autoria_footer{
    color: #b9b9b9;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}
